spring:
  profiles:
    active: dev
  mvc:
    path match:
      matching-strategy: ANT_PATH_MATCHER
  datasource:
    druid:
      stat-view-servlet:
        enabled: true
        login-username: admin
        login-password: admin
      default-auto-commit: true
  redis:
    host:
    port:
    password:
    dbs:
mybatis-plus:
  mapper-locations: classpath:cn/realandy/zrdisk/dao/impl/*.xml
  type-aliases-package: cn.realandy.zrdisk.entity
  type-enums-package: cn.realandy.zrdisk.enmus
  configuration:
    default-enum-type-handler: org.apache.ibatis.type.EnumOrdinalTypeHandler
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: assign_uuid
      table-underline: true
fdfs:
  soTimeout: 15000  # 读取时间
  connectTimeout: 15000  # 链接超时
  pool:
    max-total: 200   # 连接池最大数量
    max-total-per-key: 50  # 单个tracker最大连接数
    max-wait-millis: 5000 # 连接耗尽最大等待时间 毫秒
  # 生成缩略图参数
  thumb-image:
    width: 150
    height: 150
  #  tracker-list:
#  aliyun:
#    accessKeyId:
#    secret:
phone:
  verification:
    length: 6
    live: 300
server:
  port: 8080
alipay:
  # 支付宝网关地址
  url: ${ALIPAY_URL}
  # 支付宝沙箱商家appid
  appid: ${ALIPAY_APPID}
  # 沙箱私钥
  privateKey: ${ALIPAY_PRIVATE_KEY}
  # 沙箱公钥
  publicKey: ${ALIPAY_PUBLIC_KEY}
  # 订单支付成功后的回调地址(内网映射)
  notifyUrl: ${ALIPAY_NOTIFY_URL}
  # 跳转返回页面不可为本地页面，例如；http://127.0.0.1:8020/test/order.html 支付宝校验时会将当前订单视作有操作风险
  returnUrl: ${ALIPAY_RETURN_URL}